* {
    box-sizing: border-box;
    outline: none;
}

h1 {
    color: #232f2f;
}

body {
    background-color: #fffdff;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    background-color: #AAE3E2;
    padding: 20px;
    margin: 16px auto;
}

input,
button {
    font-size: 20px;
    border-radius: 20px;
    padding: 12px 24px;
}

button {
    background-color: #D9ACF5;
    color: #2d2234;
    cursor:pointer;
}

button:active {
    background-color: #ad60de;
    color: #f0d9ff;
}

.systemOut {
    background-color: #ffd3d8;
    font-size: 24px;
    text-align: left;
    border-radius: 20px;
    border: solid 4px transparent;
    padding: 16px 32px;
    /* margin-left: 32px; */
    /* margin-top: 32px; */
    width: 55%;
    height: 10rem;
}

.letter {
    font-family: Source Code Pro;
}

.score {
    width: 500px;
    height: 50px;
    margin: auto;
    color: black;
}
